.form-floating input[type="email"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-login-button {
  background-color: rgb(36, 173, 243);
}

.btn-primary {
  --bs-btn-bg: rgba(36, 173, 243) !important;
  --bs-btn-border-color: rgba(36, 173, 243) !important;
  --bs-btn-hover-bg: rgba(36, 173, 243, 70%) !important;
  --bs-btn-hover-border-color: rgba(36, 173, 243, 70%) !important;
  --bs-btn-focus-shadow-rgb: rgba(36, 173, 243) !important;
  --bs-btn-active-bg: rgba(36, 173, 243, 70%) !important;
  --bs-btn-active-border-color: rgba(36, 173, 243, 20%) !important;
}

/************Login Form/************/

.form-floating.login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-floating.login input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/************Register Form/************/

.form-floating.register input[type="text"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-floating.register input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-floating.full-name input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/************Password Reset Form/************/
.new-password {
  margin-bottom: -1px;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.confirm-password {
  margin-bottom: -1px;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

/************Google Login/************/

.google {
  left: 50%;
}
