.target-hover:hover .show-controls {
  display: inline-block !important;
}

.show-controls {
  display: none !important;
}

.offcanvas.offcanvas-end {
  width: 35% !important;
}

.offcanvas-footer {
  height: 120px;
}

.chat-input {
  resize: none;
}
